apiVersion: v1
kind: Service
metadata:
  name: accounts
  labels:
    app: accounts
spec:
  selector:
    app: accounts
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
